.home_content{
  display: table;
  height: 90%;
  width: 100%;
}

.home_content_stat{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.home_content_stat img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.home_distance_walked{
  text-align: left;
  vertical-align: top;
}

.login_call{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}