nav{
  height: 10vh;
  width: 100%;
  background-color: #333333;
  position: relative;
  font-size: 1.7em;
  z-index: 99;
  display: flex;
  align-items: center;
}

nav ul{
  position: absolute;
  top: 10vh;;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  background-color: #262626;
  width: 50%;
  height: 90vh;
  padding-left: 5%;
}

nav ul li{
  margin-top: 10px;
  border-bottom: 5px;
  margin-right:20px;
}

nav ul li a{
  color: white;
  padding-bottom: 10px;
}

.title_center{
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.hamburger_icon{
  min-height: 7vh;
  min-width: 7vh;
  max-height: 7vh;
  max-width: 7vh;
  left: 5%;
  position: absolute;
}

.bar1, .bar2, .bar3 {
  width: 100%;
  height: 7px;
  background-color: white;
  margin: 6px 0;
}

.current_page{
  border-bottom: 5px solid $red-1-color;
}