nav{
  height: 10vh;
  width: 100%;
  background-color: #333333;
  position: relative;
  font-size: 1.7em;
}

nav ul{
  position: absolute;
  top: 10vh;;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  background-color: #262626;
  width: 50%;
  height: 90vh;
  padding-left: 5%;
}

nav ul li{
  margin-top: 10px;
  border-bottom: 5px;
  margin-right:20px;
}

nav ul li a{
  color: white;
  padding-bottom: 10px;
}

.title_center{
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.hamburger_icon{
  height: 50px;
  width: 50px;
  background-color: white;
  left: 5%;
  top: 1vh;
  position: absolute;
}

.current_page{
  border-bottom: 5px solid $red-1-color;
}