.parcour_segment{
  display: flex;
  flex-direction: row;
}

.parcour_img{
  width: 200px;
  height: 150px;
  margin-right: 5%;
  //background-color: white;
}

.parcour_details{
  width: 70%;
  margin-top: 20px;
}

.parcour_details a{
  color: white;
  line-height: 27px;
}

.parcour_details h2{
  color: white;
}

.parcour_segment_layout{
  padding: 1.25%;
  margin-bottom: 15px;
  background-color: #333333;
  border-radius: 5px;
}

.parcour_content_detail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detail_info{
  margin-right: 1em;
}

.public_parcour, .personal_parcour{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {

  .personal_parcour, .public_parcour{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .parcour_segment_layout{
    width: 20%;
    margin: 1em;
  }

  .parcour_segment{
    flex-direction: column;
  }

  .parcour_img{
    margin: auto;
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }
}