.profile_content{
  display: table;
  width: 100%;
  margin:auto;

}


.profile_header{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_details{
  text-align: center;
  line-height: 28px;
}


.profile_picture_layout{
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-position: center;
  background-size:cover;
  background-color: green;
  margin-bottom: 20px;
}

.profile_picture{
  width: 100px;
}

.profile_stat_layout{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: row wrap;
}

.profile_stat_layout li{
  text-align: center;
  margin: 0.5%;
  width: 31%;
}


.profile_stat_layout li p{
  font-size: 1.5em;
}

.profile_stat_layout_h2{
  margin-bottom: 10px;
}

.badge_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;

  .badge_list_item{
    width: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size:1em;
margin:auto;
    float: left;
    .badge_container{
      height: 130px;
      margin-bottom: 0.1em;
    }
    .badge_text{
      opacity:1;
    }
    .badge_title{
      margin-top: -0.5em;
      font-weight: bold;
      margin-bottom:0.2em;
    }
    .badge_detail{
      font-size:0.8em;
    }
    .badge_description{
      color: white;
      position: absolute;
      width:80%;
 margin:auto;
      left:0;
      right:0;
      padding: 1em;
      background-color: $red-1-color;
      opacity:0.9;
      border-radius: 5px;

      .bottom{
        margin-top: 0.2em;
      }
    }
  }
}
.activities{
  ul {
    width:80%;
    margin:auto;
  }
}
.recent_activity{
  background-color: rgba(255,255,255,0.8);
  padding:5px;
width:80%;
  margin-left:10%;
  border-radius:5px;

  p{
  font-size:0.8em;
    margin:3px;
}
h3{
  font-size:1em;
  border-bottom:1px solid;
  margin-bottom:5px;
}}

@media only screen and (min-width: 768px) {
  .profile_picture_layout{
    max-width: 230px;
    max-height: 230px;
    min-width: 230px;
    min-height: 230px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-size:cover;
    background-color: green;
    margin-bottom: 20px;
  }
  .profile_picture{
    width:230px;
  }
  .badge_list{
    width:750px;
    .badge_list_item{
      width: 120px;
      height: auto;


      .badge_container{
        height:200px;
      }

      .badge_title{
        font-size:1.5em;
      }
      .badge_description{
        max-width:500px;
        .bottom{
          margin-top: 0.2em;
        }
      }
    }
    .activities{width:70%;
      margin:auto;
      ul {
        width:200px;
      }
    }
    .recent_activity{
      background-color: rgba(255,255,255,0.8);

      margin-bottom:20px;
      border-radius:5px;
      p{
        font-size:1em;
        margin:3px;
      }
      h3{
        font-size:2em;
        border-bottom:1px solid;
        margin-bottom:5px;
      }

}
}
}