.profile_content{
  display: table;
  width: 100%;
}

.profile_header{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_details{
  text-align: center;
  line-height: 28px;
}

.profile_picture_layout{
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-position: center;
  background-size:cover;
  background-color: green;
  margin-bottom: 20px;
}

.profile_picture{
  width: 300px;
}

.profile_stat_layout{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: row wrap;
}

.profile_stat_layout li{
  text-align: center;
  margin: 0.5%;
  width: 31%;
}


.profile_stat_layout li p{
  font-size: 1.5em;
}

.profile_stat_layout_h2{
  margin-bottom: 10px;
}

.badge_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin-bottom: 4em;
  .badge_list_item{
    width: 125px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size:1em;
    .badge_container{
      height: 100%;
      margin-bottom: 0.25em;
    }
    .badge_title{
      margin-top: -0.5em;
      font-weight: bold;
      font-size:1.25em;
    }
    .badge_description{
      border-top: 2px solid gainsboro;
      margin-top: 0.5em;
      padding-top: 0.5em;
      color: rgb(197, 87, 99);
      .bottom{
        margin-top: 0.5em;
      }
    }
  }
}