.profile_content{
  display: table;
  width: 100%;
}

.profile_header{
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.profile_header img{
  width: 40%;
}

.profile_details{
  margin-left: 10%;
  width: 50%;
}