$font-stack: Helvetica, sans-serif;

$primary-color:  #AB4B4D;

$secondary-color: #F26A69;

$dis: 30px;

h1{

  margin-top: $dis;

  color: $primary-color;

  font-family: $font-stack;

  font-size:1.1em;

}

.bar{

  margin-top: 28px;

  margin-bottom: 28px;

  padding-bottom: 4px;

  background-color: $primary-color;

}


.parkours {

  li {

    color: $primary-color;

    font-family: $font-stack;

    display: inline;

    a {

      text-decoration: none;

      color: $primary-color;

      h2 {

        width: 80%;

        display: inline;

        float: left;

      }

    }

    a:hover {

      color: $secondary-color;

    }

    .parkour_name {

      margin-top: $dis;

    }

    .parkour_counts {

      margin-top: 12px;

      width: 70%;

      margin-bottom: 27px;

      .parkour_text {

        margin-top: 14px;

        font-size: 0.7em;

        float: left;

        width: 30%;

        max-width: 100px;

      }

      .parkour_image {

        width: 40%;

        max-width: 120px;

        height: 50px;

        max-height: 50px;

        background-color: #CECECE;

        margin-left: 100%;

      }

    }

    .btn {

      padding: 5px 15px;

      font-size: 0.7em;

      color: $primary-color;

      background-color: white;

      border: $secondary-color 1px solid;
    }

    .recommend {

      background: $secondary-color;

      color: white;

    }

    .btn:hover {

      background-color: $primary-color;

      border: $primary-color 1px solid;

      color: white;

    }

    .star {

      float: right;

    }

  }

}


@media screen and (min-width: 750px) {

  .parkour_container{

    width: 90%;

    margin: auto;
  }
  .parkours{

    li {

      a{

        margin-left: 50%;

        width: 50%;

        max-width: 50%;

        font-size: 1.2em;

        float: right;


      }

      .parkour_counts {

        .parkour_image {

          margin:0;

          position: absolute;

          width: 30%;

          max-width: 300px;

          height: 200px;

          max-height: 200px;

        }

        .parkour_text{

          margin-left: 350px;

          margin-top: 40px;

          width: 60%;

          max-width: 60%;

          float: left;

          font-size: 1em;

        }

      }

      .btns{

        margin-left: 350px;

        display: inline;

        .btn{
          margin-top: 30px;

          width: 130px;

          height: 30px;

          font-size: 0.9em;
        }
      }

      .star {

        display: none;

      }

    }

  }

  .split {

    margin-left:30%;

    width: 70%;

  }



}






