$font-stack: Helvetica, sans-serif;

$primary-color:  #AB4B4D;

$secondary-color: #F26A69;

$dis: 30px;


body {

  color: $primary-color;

  font-family: $font-stack;

  font-size: 1.0em;

}

  h2 {

    font-size:1.1em;

    margin: 20px 0;

  }


.bar{

  padding-bottom: 4px;

  background-color: $primary-color;

}

.split{

  margin-top:170px;

}

.profile_container {

  .profile_header {

    .pic_container img {

      height: 110px;

      width: 110px;

      float: left;

      margin-right: 8px;

    }

    .main_details {

      padding-top: 10px;

      height: 110px;

      h1 {

        color: $primary-color;

        font-family: $font-stack;

        font-size: 1.2em;

      }

      .level {

        margin-top: 10px;

      }

      .progress {

        margin-top: 5px;

      }

      .statbar {

        width:150px;

        float:left;

      }

    }

  }

    .stats {

      margin-bottom: 10px ;

      ul {

        width: 100%;

      }

      li {

        float: left;

        display: inline;

        width: 28%;

        max-width:150px;

        margin-left: 5%;

        margin-top: 10px;

        padding:10px;

        border: $primary-color solid 1px;

        box-shadow: $primary-color 3px 3px 3px ;

      }

      li:hover {

        box-shadow: $primary-color 1px 1px 3px ;


      }

      .stat {

        font-size: 0.7em;

      }

      p {

        float: right;

        margin-right:10px;

        margin-top: 12px;

        font-size: 1em;


      }

  }

  .recent_activity {

    font-size:0.8em;

    border: $primary-color solid 1px;

    box-shadow: $primary-color 3px 3px 3px ;

    padding-left:15px;

    padding-bottom:20px;

    padding-right: 15px;

    h3 {

      font-size:1.5em;

      margin-bottom: 10px;

    }

    p {

      line-height: 1.7em;

      color: $secondary-color;

    }

    .image {

      display: none;

    }

  }

  .recent_activity:hover {

    border: $primary-color solid 1px;

    box-shadow: $primary-color 1px 1px 3px ;


  }

}

@media screen and (min-width: 600px){

  .profile_container{

    margin:auto;

    width:90%;

    .profile_header {

      .pic_container img {

        width: 180px;

        height: 180px;

      }

      .main_details {

        font-size: 1.1em;

        height: 200px;

        .statbar {

          width: 200px;

          float: left;

        }

      }

    }

    .stats {

      h2 {

        font-size:1.5em;

      }


      ul li p {

          font-size: 1.2em;

      }

      .stat {

        font-size:1.1em;

      }

    }

    h2 {

      font-size: 1.5em;

    }

    .recent_activity {

      margin-bottom:30px;

      h3 {

        margin-top: 30px;

        font-size: 1.6em;

      }

      p {

        font-size:1.1em;

      }

      float: left;

      margin-left:50px;

    }

  }

}

@media screen and (min-width: 600px){

  .profile_container {

    width:80%;

  }

  .spacer {

    margin-top:200px;

    height:200px;

  }

}
