@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
.parcour_segment {
  display: flex;
  flex-direction: row; }

.parcour_img {
  width: 200px;
  height: 150px;
  margin-right: 5%; }

.parcour_details {
  width: 70%;
  margin-top: 20px;
  height: 150px;
  margin-left: 20px; }

.parcour_details a {
  color: white;
  line-height: 27px; }

.parcour_details h2 {
  color: white; }

.parcour_segment_layout {
  padding: 1.25%;
  margin-bottom: 15px;
  background-color: #333333;
  border-radius: 5px;
  width: 100%; }

.parcour_content_detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.detail_info {
  margin-right: 1em; }

.public_parcour, .personal_parcour {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.parcour_img {
  border-radius: 10px; }

@media only screen and (min-width: 1000px) {
  .parcour_details {
    margin-left: 0; }

  .personal_parcour, .public_parcour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  .parcour_segment_layout {
    width: 20%;
    margin: 1em; }

  .parcour_segment {
    flex-direction: column; }

  .parcour_img {
    margin: auto;
    width: 100%;
    height: 200px;
    border-radius: 5px; } }
.parcour_segment_detail {
  background-color: #333333;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column; }

.parcour_segment_detail h1 {
  color: white;
  margin-bottom: 20px; }

.detail_info {
  padding: 10px; }

.detail_map {
  width: 100%;
  min-height: 400px; }

@media only screen and (min-width: 1000px) {
  .parcour_segment_detail {
    display: flex;
    flex-direction: row-reverse; }

  .detail_map {
    width: 75%; }

  .detail_info {
    width: 25%; } }
.profile_content {
  display: table;
  width: 100%; }

.profile_header {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row; }

.profile_header img {
  width: 40%; }

.profile_details {
  margin-left: 10%;
  width: 50%; }

.profile_picture_layout {
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-position: center;
  background-size: cover; }

.profile_stat_layout {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: row wrap; }

.profile_stat_layout li {
  text-align: center;
  margin: 0.5%;
  width: 31%; }

.profile_stat_layout li p {
  font-size: 1.5em; }

.profile_stat_layout_h2 {
  margin-bottom: 10px; }

.badge_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin-bottom: 4em; }
  .badge_list .badge_list_item {
    width: 125px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 1em; }
    .badge_list .badge_list_item .badge_container {
      height: 100%;
      margin-bottom: 0.25em; }
    .badge_list .badge_list_item .badge_title {
      margin-top: -0.5em;
      font-weight: bold;
      font-size: 1.25em; }
    .badge_list .badge_list_item .badge_description {
      border-top: 2px solid gainsboro;
      margin-top: 0.5em;
      padding-top: 0.5em;
      color: #c55763; }
      .badge_list .badge_list_item .badge_description .bottom {
        margin-top: 0.5em; }

.home_main {
  margin-top: 3em;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  .home_main h2 {
    margin-left: 1.5em; }
  .home_main h3 {
    font-size: 5em;
    line-height: 2.25em;
    margin-left: 0.05em; }
  .home_main h4 {
    margin-top: 0.05em;
    font-size: 8em; }
  @media only screen and (max-width: 800px) {
    .home_main h3 {
      font-size: 3.5em; }
    .home_main h4 {
      font-size: 6.5em; } }

.home_extra p:not(#days) {
  margin-left: 2.5em;
  color: rgba(38, 38, 38, 0.67); }

#bar {
  margin: auto;
  width: 80vw;
  height: 2.3em;
  text-align: center;
  border: 2pt solid white;
  box-shadow: 0px 0px 20px lightgray; }

#fill {
  background-color: #F18948;
  height: 2.3em;
  box-shadow: inset 0px 0px 30px rgba(255, 187, 83, 0.36); }

#days {
  margin-top: -1.45em;
  font-size: 1.3em; }

.home_main_inner {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  width: 11.5em;
  background-color: rgba(245, 245, 245, 0.46);
  border-radius: 50%;
  height: 11.5em;
  padding: 2em;
  margin-bottom: 4em;
  border: 3pt solid white;
  box-shadow: 0px 0px 20px lightgray;
  position: relative;
  z-index: 9;
  overflow: hidden;
  justify-content: center; }
  .home_main_inner h2 {
    margin-left: 0;
    margin-top: 1em;
    font-size: 5em; }
  @media only screen and (max-width: 800px) {
    .home_main_inner {
      width: 9em;
      height: 9em; }
      .home_main_inner h2 {
        margin-left: 0;
        margin-top: 0.95em;
        font-size: 4em; } }

.small {
  margin-top: 2.25em;
  height: 8em;
  width: 8em; }
  .small h3 {
    font-size: 3em;
    line-height: 2.4em;
    margin-left: 0.05em; }
  .small h4 {
    margin-top: 0.1em;
    font-size: 5em; }
  @media only screen and (max-width: 800px) {
    .small {
      height: 4em;
      width: 4em; }
      .small h3 {
        font-size: 2em; }
      .small h4 {
        font-size: 3em; } }

.home_main_inner:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #cecece;
  box-shadow: inset 0px 0px 40px white;
  border-top: 1pt solid #e9e9e9; }

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 30vh); }

.strava_login {
  background: #ff6b2a;
  background: -webkit-linear-gradient(left top, #ff6b2a, #ff4722);
  background: -o-linear-gradient(bottom right, #ff6b2a, #ff4722);
  background: -moz-linear-gradient(bottom right, #ff6b2a, #ff4722);
  background: linear-gradient(to bottom right, #ff6b2a, #ff4722);
  text-align: center;
  flex-direction: column; }
  .strava_login h1 {
    margin-top: -0.25em;
    color: white;
    font-size: 1.6em; }
    .strava_login h1 b {
      font-size: 1.6em;
      margin-left: -0.1em; }
  .strava_login img {
    opacity: 0.15;
    width: inherit;
    height: inherit;
    position: absolute; }
  @media only screen and (min-width: 800px) {
    .strava_login h1 {
      margin-top: -0.25em;
      color: white;
      font-size: 1.7em; }
      .strava_login h1 b {
        font-size: 1.7em;
        margin-left: 0; } }

@media only screen and (max-width: 544px) {
  .one {
    order: 2;
    flex-basis: 15vw;
    height: 15vw; }

  .two {
    order: 1;
    flex-basis: 30vw;
    height: 30vw;
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-bottom: -1em; }

  .tree {
    order: 3;
    flex-basis: 15vw;
    height: 15vw; } }
.schedule {
  position: absolute;
  margin-top: -5em;
  text-align: right;
  width: 90vw; }
  .schedule select {
    border: 2px solid rgba(230, 50, 87, 0.14);
    border-radius: 5px;
    padding: 0.35em 0.7em;
    height: 1.9em;
    font-size: 0.9em; }
  .schedule input {
    background-color: #e63257;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.35em 0.7em;
    font-size: 0.9em; }

nav {
  height: 75px;
  width: 100%;
  background-color: #333333;
  position: fixed;
  font-size: 1.7em;
  z-index: 99;
  display: flex;
  align-items: center; }

.nav_menu_js {
  position: fixed;
  top: 75px;
  left: 0;
  flex-direction: column;
  line-height: 40px;
  background-color: #262626;
  width: 50%;
  height: 90vh;
  padding-left: 5%; }

#menuToggle {
  display: block;
  position: relative;
  left: 5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 100%; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px); }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-1px, -2px); }

.nav_menu_js {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  background: #262626;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: flex;
  flex-direction: column; }

#menuToggle input:checked ~ ul {
  transform: none; }

nav ul li {
  border-bottom: 5px;
  line-height: 60px !important; }

nav ul li a {
  color: white; }

.title_center {
  width: 90%;
  margin: auto;
  padding-top: 150px; }

.current_page {
  border-bottom: 5px solid #e63257; }

.nav_logo {
  display: none; }

.nav_home_text {
  display: block; }

@media only screen and (min-width: 800px) {
  #menuToggle span, #menuToggle input {
    display: none; }

  .nav_logo {
    display: block;
    width: 50px;
    position: relative;
    top: -13px; }

  .nav_home_text {
    display: none; }

  .current_page {
    padding-bottom: 5px; }

  .nav_menu_js {
    position: fixed;
    padding: 50px;
    margin-left: 5px;
    margin-right: 5px;
    height: 0;
    background: none;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 0; }

  nav ul li {
<<<<<<< HEAD
    margin-top: 0; } }
.container__schedule {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (min-width: 680px) {
    .container__schedule {
      flex-direction: row;
      justify-content: left; }
      .container__schedule .form__schedule {
        max-width: 180px; }
        .container__schedule .form__schedule label {
          margin-bottom: 0.4em;
          margin-top: 0.6em; } }
  .container__schedule .form__schedule {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #333333;
    border: 2px solid rgba(230, 50, 87, 0.14);
    padding: 1em;
    margin-bottom: 2.75em; }
    .container__schedule .form__schedule h2 {
      margin-bottom: 0.5em;
      width: 100%; }
    .container__schedule .form__schedule input:not(input[type="submit"]) {
      font-size: 0.85em;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid rgba(128, 128, 128, 0.44);
      margin-top: -0.5em;
      margin-bottom: 1em;
      padding: 0.25em;
      color: lightgray; }
    .container__schedule .form__schedule input:not(input[type="submit"]):focus {
      border-bottom: 2px solid #e63257;
      margin-top: -0.4em;
      color: white; }
    .container__schedule .form__schedule input[type="submit"] {
      font-size: 1em;
      align-self: flex-end;
      background-color: #e63257;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 0.35em 0.7em; }
    .container__schedule .form__schedule .container__schedule_item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
    .container__schedule .form__schedule label {
      color: white;
      font-weight: bold;
      margin-right: 1.5em; }
  .container__schedule .list_schedule {
    width: 100%; }
    @media only screen and (min-width: 680px) {
      .container__schedule .list_schedule {
        margin-top: -1em; } }
    .container__schedule .list_schedule li {
      background-color: rgba(237, 237, 237, 0.5);
      padding: 1em;
      border-radius: 5px;
      border-left: 6px solid white; }
      @media only screen and (min-width: 680px) {
        .container__schedule .list_schedule li {
          margin-left: 1em; } }
      @media only screen and (min-width: 700px) {
        .container__schedule .list_schedule li {
          margin-left: 2em; } }
      .container__schedule .list_schedule li * {
        margin: 5px auto; }
      .container__schedule .list_schedule li h3 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px; }
    .container__schedule .list_schedule input[type="submit"] {
      font-size: 0.9em;
      float: right;
      margin-top: -3.5em;
      background-color: gray;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px; }

=======
    line-height: 0 !important;
    position: relative;
    top: 10px; }

  .nav_item {
    margin: 15px; } }
>>>>>>> 237ff6fe1b93daeaeb94db151e6d97abd38ccf74
body {
  font-family: "Raleway", sans-serif;
  background-image: url("/img/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #e63257;
  min-height: 100vh; }

h1, h2 {
  color: #e63257;
  text-transform: uppercase; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em;
  line-height: 30px; }

a {
  text-decoration: none;
  color: #e63257; }

.container {
  width: 90%;
  margin: auto; }

.page_title {
  text-transform: uppercase; }

.bar {
  border: none;
  height: 5px;
  background-color: #e63257; }

.red_bar_width {
  margin: auto;
  line-height: 50px;
  margin-top: 10px;
  border-bottom: 5px solid #e63257; }

.switch_button {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.switch_button ul {
  display: flex;
  flex-direction: row;
  line-height: 28px; }

.switch_button ul li {
  text-align: center;
  width: 50%;
  border: 5px solid #e63257; }

.switch_button_1 {
  background-color: #e63257;
  color: white; }

@media only screen and (min-width: 1000px) {
  .switch_button {
    width: 35%; } }

/*# sourceMappingURL=app.css.map */
