body {
  color: #AB4B4D;
  font-family: Helvetica, sans-serif;
  font-size: 1.0em; }

h2 {
  font-size: 1.1em;
  margin: 20px 0; }

.bar {
  padding-bottom: 4px;
  background-color: #AB4B4D; }

.split {
  margin-top: 170px; }

.profile_container .profile_header .pic_container img {
  height: 110px;
  width: 110px;
  float: left;
  margin-right: 8px; }
.profile_container .profile_header .main_details {
  padding-top: 10px;
  height: 110px; }
  .profile_container .profile_header .main_details h1 {
    color: #AB4B4D;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em; }
  .profile_container .profile_header .main_details .level {
    margin-top: 10px; }
  .profile_container .profile_header .main_details .progress {
    margin-top: 5px; }
  .profile_container .profile_header .main_details .statbar {
    width: 150px;
    float: left; }
.profile_container .stats {
  margin-bottom: 10px; }
  .profile_container .stats ul {
    width: 100%; }
  .profile_container .stats li {
    float: left;
    display: inline;
    width: 28%;
    max-width: 150px;
    margin-left: 5%;
    margin-top: 10px;
    padding: 10px;
    border: #AB4B4D solid 1px;
    box-shadow: #AB4B4D 3px 3px 3px; }
  .profile_container .stats li:hover {
    box-shadow: #AB4B4D 1px 1px 3px; }
  .profile_container .stats .stat {
    font-size: 0.7em; }
  .profile_container .stats p {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    font-size: 1em; }
.profile_container .recent_activity {
  font-size: 0.8em;
  border: #AB4B4D solid 1px;
  box-shadow: #AB4B4D 3px 3px 3px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px; }
  .profile_container .recent_activity h3 {
    font-size: 1.5em;
    margin-bottom: 10px; }
  .profile_container .recent_activity p {
    line-height: 1.7em;
    color: #F26A69; }
  .profile_container .recent_activity .image {
    display: none; }
.profile_container .recent_activity:hover {
  border: #AB4B4D solid 1px;
  box-shadow: #AB4B4D 1px 1px 3px; }

@media screen and (min-width: 600px) {
  .profile_container {
    margin: auto;
    width: 90%; }
    .profile_container .profile_header .pic_container img {
      width: 180px;
      height: 180px; }
    .profile_container .profile_header .main_details {
      font-size: 1.1em;
      height: 200px; }
      .profile_container .profile_header .main_details .statbar {
        width: 200px;
        float: left; }
    .profile_container .stats h2 {
      font-size: 1.5em; }
    .profile_container .stats ul li p {
      font-size: 1.2em; }
    .profile_container .stats .stat {
      font-size: 1.1em; }
    .profile_container h2 {
      font-size: 1.5em; }
    .profile_container .recent_activity {
      margin-bottom: 30px;
      float: left;
      margin-left: 50px; }
      .profile_container .recent_activity h3 {
        margin-top: 30px;
        font-size: 1.6em; }
      .profile_container .recent_activity p {
        font-size: 1.1em; } }
@media screen and (min-width: 600px) {
  .profile_container {
    width: 80%; }

  .spacer {
    margin-top: 200px;
    height: 200px; } }

/*# sourceMappingURL=profile.css.map */
